{
    "extends": ["react-app", "prettier"],
    "rules": {
        "react-hooks/exhaustive-deps": "off",
        "indent": ["error", 4]
    },
    "overrides": [
        {
            "files": ["**/*.ts?(x)"],
            "rules": {}
        }
    ]
}
