.textarea {
    background-color: #f8f8f7;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    box-sizing: border-box;
    color: #3e485b;
    font-family: 'Medium', 'Arial', sans-serif;
    outline: none;
    padding: 20px 25px;
    width: 100%;
    resize: none;
}
